@{
    ViewData["Title"] = "Index";
}


<h1>Test</h1>

<form asp-controller="test" asp-action="submit">
    @foreach (var tests in ViewBag.Tests)
    {
        <input type="hidden" name="testId" value="@tests.Id" />
        <ol type="1">
            @foreach (var question in tests.Questions)
            {
            <li>
                @question.QuestionText
                <input type="hidden" name="questionId" value="@question.Id" />
                <ol type="a">
                    @foreach (var answer in question.Answers)
                    {
                        <li>
                            <input type="radio" name="question_@question.Id" value="@answer.Id" />
                            @answer.AnswerText
                        </li>
                    }
                </ol>
            </li>
            }
        </ol>
    }
    <div>
        <button type="submit" class="w-25 btn btn-lg btn-primary" value="Submit">Submit</button>
    </div>
</form>
